<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ADA-Connect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Windows Root</description>
    <param-name>windowsRoot</param-name>
    <param-value>C:/apps/ada</param-value>
  </context-param>
  <context-param>
    <description>Linux Root</description>
    <param-name>linuxRoot</param-name>
    <param-value>/srv/www</param-value>
  </context-param>
  <context-param>
    <description>Audio Application Directory</description>
    <param-name>audioAppDir</param-name>
    <param-value>appAudio</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>http://ADA-Connect.com/taglib</taglib-uri>
      <taglib-location>/WEB-INF/tld/taglib.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>